<div class="layout-column align-items-center mt-50">

	<section class="layout-row align-items-center justify-content-between">
		<label>Celsius: </label>
		<input #c (ngModelChange)="ctof(c.value)" type="number" [(ngModel)]="cel" class="large" data-test-id="celsius-input"/>
  </section>

		<section class="layout-row align-items-center justify-content-between">
			<label>Fahrenheit: </label>
			<input #f (ngModelChange)="ftoc(f.value)" [(ngModel)]="fah" type="number" class="large" data-test-id="fahrenheit-input"/>
  </section>
</div>